apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  repo: https://traefik.github.io/charts
  chart: traefik
  version: "41.0.0"
  targetNamespace: traefik
  createNamespace: true
  timeout: 15m
  valuesContent: |-
{{- if .HasImage }}
    image:
      registry: {{ .Registry }}
      repository: {{ .Repository }}
      tag: "{{ .Tag }}"
      pullPolicy: IfNotPresent
    versionOverride: "v3.7.0"
{{- end }}
    log:
      level: DEBUG
    ports:
      web:
        forwardedHeaders:
          insecure: true
    providers:
      kubernetesIngressNGINX:
        enabled: true
      kubernetesCRD:
        enabled: true
      kubernetesGateway:
        enabled: true
    gateway:
      enabled: false
    gatewayClass:
      enabled: false
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dashboard.localhost`)
        entryPoints: ["web"]
    additionalArguments:
      - --providers.kubernetesIngressNginx.allowSnippetAnnotations
      - --providers.kubernetesIngressNginx.proxyBuffering=true
      - --providers.kubernetesIngressNginx.proxyRequestBuffering=true
      - --providers.kubernetesIngressNginx.globalAllowedResponseHeaders=X-Custom-Resp,X-Frame-Options,X-More-Resp
      - --providers.kubernetesGateway.statusaddress.service.namespace=traefik
      - --providers.kubernetesGateway.statusaddress.service.name=traefik
